{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Registration Form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="{% static 'fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>

	<body>
		<div class="wrapper" style="background-image: url('{% static 'images/bg-registration-form-1.jpg' %}');">
			<div class="inner">
				<div class="image-holder">
					<img src="{% static 'images/registration-form-1.jpg' %}" alt="">
				</div>
				<form method="POST">
					<h3>Registration Form</h3>

                    {% csrf_token %}
                    {% for fields in form %}
                        <div class="form-wrapper">
                            {{ fields.label }}<br>
                            {{ fields }}
                        </div>
                    {% endfor %}
					<button type="submit">Register
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
		
	</body>
</html>
